<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	<system.serviceModel>

		<standardEndpoints>
			<webHttpEndpoint>
				<standardEndpoint name="" contentTypeMapper="Microsoft.Samples.WebContentTypeMapper.JsonContentTypeMapper, JsonContentTypeMapper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</webHttpEndpoint>
		</standardEndpoints>

		<services>
			<service name="WcfServiceKKreme.Service" behaviorConfiguration="WcfServiceKKreme">
				<endpoint address=""  binding="webHttpBinding" bindingName="defwebHttpBinding" bindingConfiguration="defwebHttpBinding" behaviorConfiguration="httpEndpointBehavour" contract="WcfServiceKKreme.IService" />
			</service>
		</services>

		<bindings>
			<webHttpBinding >
				<binding name="defwebHttpBinding" >
					<security mode="None"></security>
				</binding>
			</webHttpBinding>
		</bindings>
		
		<behaviors>
			<serviceBehaviors>
				<behavior  name="WcfServiceKKreme">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			
			<endpointBehaviors>
				<behavior name="httpEndpointBehavour">
					<webHttp helpEnabled="true" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		
		<protocolMapping>
			<add binding="webHttpBinding" scheme="http" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"  />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
